.speech{
 
    font-family: 'Times New Roman', Times, serif;font-size: 20px;
color: black;
}
 
.stage-direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:whitesmoke;
}
.stage-direction:hover{
    background-color: rgb(175, 175, 101);
}
.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color:darkcyan;
}

.LADYBASILDON{
    color:coral;
}
.MRS_MARCHMONT{
    color:crimson
}
table,th,td{
    border: 2px dashed gray;   
}



table{
    
    overflow: auto;
    width: 70%;
   border-collapse: collapse; 
   height: 70px;
}
 
th{
    background-color:rgb(250, 8, 48);
    color: lavender;
}
td{
    padding: 12px;
    text-align: left;
    
}
th{
    padding: 15px;
    text-align: center;
}
tr:hover{
background-color:rgba(207, 207, 207, 0.39);
}
tr:nth-child(even){
    background-color: gray;
}

